<div class="control-btns">
    <button class="btn" (click)="changeLocation('up')"><mat-icon (click)="changeLocation('up')">arrow_upward</mat-icon></button>
    <div class="bf">
        <button class="btn" (click)="changeLocation('back')"><mat-icon>arrow_back</mat-icon></button>
        <button class="btn" (click)="changeLocation('forward')"><mat-icon>arrow_forward</mat-icon></button>
    </div>
    <button class="btn"  (click)="changeLocation('down')"><mat-icon>arrow_downward</mat-icon></button>
    <button class="btn reset-btn" (click)="changeLocation('reset')"><mat-icon>refresh</mat-icon></button>
</div>
